/* CSS RESET */


*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans: Helvetica, Arial, sans-serif;
   --font-serif: Cambria, Georgia, serif;


   --color-neutral-lighter: #f0f9ff;
   --color-neutral-light: #ceeaff;
   --color-neutral-mediumer: #0005FF;
   --color-neutral-medium: #ceeaff;
   --color-neutral-dark: #546375;

   --color-main-light: #ebfaff;
   --color-main-medium: #ceeaff;
   --color-main-dark: #6987a3;

   --color-black:#000;
   --color-white:#fff;



   --header-height:3rem;
}


body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}





h1 {
font-size:300%;
font-family: 'Ubuntu', sans-serif;
color:#CEEAFF;
font-weight: bolder;
margin-top: 60px;

}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
font-size:300%;
font-family: 'Ubuntu', sans-serif;
color:#CEEAFF;
font-weight: bolder;
}

h4 { 
font-size:200%;
font-family: 'Ubuntu', sans-serif;
color:#CEEAFF;
font-weight: bolder;

}

h5 {

}

h6 {
font-size:100%;
font-family: 'Open Sans', sans-serif;
color:#CEEAFF;
font-weight: bolder;
margin-top: 4px;
margin-bottom: 4px;

}

p {
  font-size: 12px;
  display: block;
}


a {
   color:inherit;
   text-decoration: none;
   font-weight:bold;
}
a:hover {
   text-decoration:underline;
}






/* Layout Classes */


.hidden { display:none; }


.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

.flex-column { flex-direction:column; }

.overscroll {
   width: 100%;
   height: 100%;
   overflow: auto;
}


.animallist{
    width: 100%;
    margin: 20px auto;
    padding-left: 1em;
    padding-right: 1em;
}

.left{
    width: 50%;
    background: ;
    float: left;
    text-align: center;
}
.right{
    width: 50%;
    background: ;
    float: right;
    text-align: center;
}



/* FORMS */
.form-control {
    margin: 1em 0;
}
.form-label {
    /*font-size: 0.8em;*/
    color: var(--color-neutral-medium);
    margin: 0.5rem 0;
}
.ui-mobile label {
   /*margin:0.5rem 0;*/
}

.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    font: inherit;
    padding: 0.6em 0.4em;
    padding-left: 0.8em;
    margin: 0;
    outline: 0;
    font-size: 14px;
    border-radius: 0.5em;
}



.form-button {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-light);
    font: inherit;
    padding: 0.7em 1em;
    margin: 0;
    outline: 0;
    text-align: center;
    border-radius: 1em;
    font-weight: 700;
    margin-top: 1.5em;
}


.form-input-describe {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    font: inherit;
    padding-top: 0.8em;
    padding-bottom: 5.6em;
    padding-left: 0.8em;
    margin: 0;
    outline: 0;
    font-size: 14px;
    border-radius: 0.8em;
}











#signin-form,
#signup-form {
   /*padding:1em;*/
   padding-left: 6em;
   padding-right: 6em;
}

.signin-alt {
   padding:1em;
   text-align:center;
   font-size:0.8em;
}
/*#recent-page [data-role='main'] {
   background-image:url(../img/map.png);
   background-position:center;
   background-size:cover;
}*/





/* Login Failure */


.login-failure{
  text-align:center;
  opacity: 0;
  position: relative;
  margin: 0; 
}

.login-failure.active{
  opacity: 1;
  color: white;
}




/* PAGE LAYOUTS */
.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}

[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
   background-color: #6987A3;
}




 /* Header */



.ui-header,
.ui-footer {
   flex:none;
   height:var(--header-height);
   line-height:var(--header-height);
   border-width:0;
   background-color:var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   overflow:hidden;
   position:relative;
}


.ui-header .ui-title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #6987a3;
    font-weight: 600;
}







 /* Footer */


.ui-header ul,
.ui-footer ul {
   position:relative;
   display:flex;
   list-style-type:none;
   margin:0;
   padding:0;
}

.ui-footer ul {
  height: 5em;
}


.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui-header a,
.ui-footer a {
   display:block;
   padding:0em 1em;
}

.nav-icon img {
   width:1em;
   height:1em;
   vertical-align: text-bottom;
}
.nav-icon {
   line-height:calc(var(--header-height) * 0.6);
   font-size:1.5em;
}
.nav-label {
   line-height:calc(var(--header-height) * 0.4);
   font-size:0.7em;
}






/* MODALS */
.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

.modal.active {
   opacity:1;
}
.modal-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
}


/* MODAL POPUP*/
.modal-popup {
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,calc(-50% + 3em));
   transition: all 0.3s;
   width:80vw;
}
.modal-body {
    background-color: var(--color-white);
    padding: 1em;
}
.modal-head, .modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
}


.modal.active .modal-back,
.modal.active .modal-popup {
    pointer-events: initial;
}
.modal.active .modal-popup {
   transform:translate(-50%,-50%);
}


/* MODAL DRAWER */
.modal-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition:all 0.3s;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.left,
.modal-drawer.right {
   height:100%;
   width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height:30vh;
   width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;
}


.modal-drawer .modal-body {
   flex: 1 1 100%;
   background-color: #6987a3;
}



.modal-foot input {
   display:block;
   width:100%;
   text-align:right;
   border-width:0;
   font-weight:bold;
   background-color:transparent;
   outline:0;
}


.modal-close-floater.top {
    top: 3em;
    left: 15em;
    transform: translateY(-100%);
}
.modal-close-floater.right {
    right: 1em;
}
.modal-close-floater {
    position: absolute;
}






/* FLOATER */
.floater { position:absolute; }
.floater.right { right:1em; }
.floater.left { left:1em; }
.floater.top { top:1em; padding-left: 10em;}
.floater.bottom { bottom:1em; padding-left: 10em;}


/* CIRCLE BUTTON */
.btn-circle {
    color: white;
    background-color: #50799b;
    line-height: 2rem;
    width: 2rem;
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px #2e353e;
    font-size: 1.5em;
}



/* PROFILE */
.profile-image img {
    border-radius: 50%;
    width: calc(80vw - 4em);
    height: calc(80vw - 4em);
    object-fit: cover;
    margin-left: 4.5em;
    margin-top: 2.5em;
}

.profile-body {
   text-align: center !important;
   padding:1em;
   padding-top: 3em;
   color:#ceeaff;
}
.profile-name {
   font-size:1.5em;
   margin-bottom: 1em;
}

.profile-image-animal img {
    border-radius: 50%;
    width: calc(100vw - 4em);
    height: calc(100vw - 4em);
    object-fit: cover;
    margin: 2em;
}





/* BULLDOG LIST LAYOUT*/

.row {
    display: -webkit-box;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.col-lg-4{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.image-wrap-2 {
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    margin-bottom: 30px;
}
.image-wrap-2:hover:before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
}
.image-wrap-2:before {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.image-wrap-2 .image-info {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.image-wrap-2 .image-info h2 {
    color: #fff;
}
.mb-3, .my-3 {
    margin-bottom: 0rem !important;
}
h2, .h2 {
    font-size: 2rem;
    margin-top: 0;
}

.image-wrap-2:hover img {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}
.image-wrap-2 img {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .1s ease-in-out;
    display: flex;
    /* margin: 1em; */
    border-radius: 2em;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.1);
    overflow: hidden;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}






/* BUTTON */



.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-outline-white {
    border-color: #fff;
    color: #fff;
    border-width: 2px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1em;
}
.btn {
    border-radius: 0;
}
.pl-4, .px-4 {
    /*padding-left: 1.5rem !important;*/
}
.pb-2, .py-2 {
    /*padding-bottom: 0.5rem !important;*/
}

.btn {
    display: inline-block;
    /* font-weight: 400; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #50799b;
    background-color: #50799b;
    padding: 0.2rem 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}









.settings-list {
   list-style-type:none;
   margin:0;
   padding:0;
}

.settings-item a {
   display:block;
   padding:0.5em 1em;
   border-bottom:1px solid var(--color-neutral-lighter);
   position:relative;
}
.settings-item a:not([href='#'])::after {
   content:'>';
   position:absolute;
   top:50%;
   right:1em;
   transform:translateY(-50%);
}





.animallist-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align:text-bottom;
}
.animallist-item {
    display: flex;
    margin: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px 10px #546375;
    overflow: hidden;
}
.animallist-description {
   padding:0.5em;
}
.animallist-type,
.animallist-breed {
   font-size:0.8em;
   margin-top: 0.4em;
}
.animallist-name {
   margin-top: 0.2em;
   font-size:1.5em;
}




 /*list-add-modal */








/* Account */


.site-hero, .site-hero .row {
    height: 100vh;
    min-height: 800px;
}
.site-hero {
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.site-hero, .site-hero .row {
    height: 100vh;
    min-height: 800px;
}

.text-center {
    text-align: center !important;
}

.pt-5, .py-5 {
    padding-top: 0rem !important;
}

.site-hero h1, .site-hero .lead {
    font-weight: 200;
    color: #fff;
}
.site-hero h1 {
    font-weight: 100;
    margin-bottom: 20px;
    display: block;
}

h1, .h1 {
    /*font-weight: 100;*/
}

.site-hero h1 strong {
    font-weight: 1000;
}

.d-block {
    display: block !important;
}

b, strong {
    /*font-weight: bolder;*/
}

.letter-spacing {
    letter-spacing: .2rem;
    color: rgba(255, 255, 255, 0.5) !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}




/* Bulldag Test */


.grid.gap {
    grid-gap: var(--gap-size);
    gap: var(--gap-size);
}
.bulldoglist {
    margin: 1em 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.bulldog-photo {
    position: relative;
}
.bulldogcol {
    grid-column: span 6;
}
.bulldog-figure{
    overflow: hidden;
    margin: 0.5em;
    height: 100%;
    background-color: #ffffff7a;
    border-radius: 1.6em;
    box-shadow: 2px 2px 10px #546375;

}
.bulldog-figure img {
    width: 100%;
    object-fit: cover;
    vertical-align: text-bottom;
}








/*.bulldog-photo:hover:before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
}
.bulldog-photo:before {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*/







.bulldog-photo{
  filter:grayscale(1);
}
.bulldog-photo:hover{
  filter:none;
}




/*test*/
/*
.animallist-description {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.bulldog-photo .animallist-description h2 {
    color: #fff;
}

.bulldog-photo .animallist-description a {
    color: #fff;
}

.animal-breed{
  color: #fff;
}*/

/*test*/






.map {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}






.animal-top {
  margin-top: 20px;
  flex:none;
  position:relative;
  height:30vh;
}
.animal-top .profile {
    display: flex;
}
.animal-top .profile-image img {
    width: 30vw;
    height: 30vw;
}
.animal-bottom {
  flex:1 1 100%;
  position:relative;
}


.animal-profile-image img {
    border-radius: 50%;
    width: calc(100vw - 4em);
    height: calc(100vw - 4em);
    object-fit: cover;
    margin: 2em;
}




.icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}


.display-flex.img{
    width: 140px;
    height: 200px;
}



